* {
    margin: 0;
    padding: 0;
}

body {
    background-color: red;
    overflow: hidden;
}

.gameContainer {
    background-color: blue;
    background-image: url(bg.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    background-size: 100vw 100vh;
}

.dino {
    background-image: url(dino.png);
    background-repeat: no-repeat;
    width: 12vw;
    background-size: contain;
    aspect-ratio: 16/9;
    position: absolute;
    bottom: 0;
    left: 1vw;
}

.obstracle {
    background-image: url(dragon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 12vw;
    aspect-ratio: 16/9;
    position: absolute;
    bottom: 0;
    left: 40vw;
}

.gameOver{
    position:relative;
    top: 60px;
    text-align: center;
    font-size:xx-large;
    font-family: sans-serif;
}

#scoreCout{
    position: absolute;
    top: 5%;
    border: 2px solid black;
    padding: 6px;
    right: 3%;
}

.animateDino {
    animation: dino 0.6s linear;
}

.obstracleAni{
    animation:obstracleAni 5s linear infinite;
}

@keyframes dino {
    0% {
        bottom:0;
    }
    50% {
        bottom:33vh;
    }
    100% {
        bottom:0;
    }
}  

@keyframes obstracleAni {
    
    0% {
        left:100vw;
    }
    100% {
        left:-10vw;
    }
}